// colors
$navyBlue: rgba(10, 21, 81);
$navyBlue-5: rgba(10, 21, 81, 0.50);
$blue: #7C93C3;

$white: #fff;
$black: #000;
$black-5: rgba(0, 0, 0, .50);

$gray-2: rgba(124, 147, 195, 0.20);

$fontFamily: 'Nunito Sans', sans-serif;
